{
  "presets": [[
    "@babel/preset-env", {
      "targets": {
				"node": "current"
      },
      "modules": "commonjs",
      "useBuiltIns": false,
			"debug": false,
			"loose": true
    }
  ]],
  "plugins": [[
    "@babel/plugin-transform-runtime", {
      "corejs": 3
    }
  ]]
}
